In [1]:
import pandas as pd
from statsmodels.regression.linear_model import OLS
import numpy as np
import scipy.stats as st

In [5]:
dataframe = pd.read_csv("ps5_data.csv", sep="\t", index_col=0)

In [6]:
dataframe

,nearc2,nearc4,nearc4a,nearc4b,ed76,ed66,age76,daded,nodaded,momed,...,noint80,enroll76,enroll78,enroll80,kww,iq,marsta76,marsta78,marsta80,libcrd14
id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,7,5,29,9.94,1,10.25,...,0,0,0.0,0.0,15.0,NaN,1.0,1.0,1.0,0.0
3,0,0,0,0,12,11,27,8.00,0,8.00,...,0,0,0.0,0.0,35.0,93.0,1.0,4.0,4.0,1.0
4,0,0,0,0,12,12,34,14.00,0,12.00,...,1,0,NaN,NaN,42.0,103.0,1.0,NaN,NaN,1.0
5,1,1,1,0,11,11,27,11.00,0,12.00,...,0,0,NaN,0.0,25.0,88.0,1.0,NaN,5.0,1.0
6,1,1,1,0,12,12,34,8.00,0,7.00,...,1,0,0.0,NaN,34.0,108.0,1.0,1.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5219,0,1,1,0,13,12,34,9.94,1,10.25,...,0,0,0.0,0.0,43.0,NaN,1.0,1.0,1.0,1.0
5220,0,1,1,0,12,9,24,11.00,0,10.25,...,0,0,0.0,0.0,25.0,109.0,1.0,1.0,1.0,0.0
5221,0,1,1,0,12,12,31,9.94,1,10.25,...,0,0,0.0,0.0,32.0,107.0,1.0,1.0,1.0,1.0
5224,0,1,1,0,8,8,28,0.00,0,6.00,...,0,0,0.0,0.0,31.0,NaN,1.0,1.0,1.0,0.0
5225,0,1,1,0,13,10,26,9.94,1,10.25,...,0,1,NaN,0.0,27.0,NaN,1.0,NaN,1.0,0.0